<table class="ui celled table">
<thead>
  <tr>
    <th>Name</th>
  </tr>
</thead>
<tbody>
  {{#each-in model as |name environment|}}
  <tr>
    <td>
      <div class="ui label">
        {{#link-to "environment" environment}}
        <i class="{{if environment.upToDate "green"}} {{if environment.outdated "red"}} warning sign icon"></i>{{name}}
        {{/link-to}}
      </div>
    </td>
  </tr>
  {{/each-in}}
</tbody>
</table>

{{outlet}}
