<table class="ui celled table">
<thead>
  <tr>
    <th>Name</th>
  </tr>
</thead>
<tbody>
  {{#each model as |environment|}}
  <tr>
    <td>
      <div class="ui label"><i class="{{if environment.upToDate "green"}} {{if environment.outdated "red"}} warning sign icon"></i>{{environment.name}}</div>
    </td>
  </tr>
  {{/each}}
</tbody>
</table>

{{outlet}}
