
    <h1>Properties</h1>
    <h2>Input: url to the source property file e. g. tributum.properties as deployed by the vendor</h2>
    <h2>Output: url to the output property file e. g. tributum.properties as deployed by ebs</h2>
    <h2>mixin level 1: url to the shared property files e. g. shared/tributum.mixin.properties</h2>
    <h2>mixin level 2: url to the environment property files e. g. [CIT1|REG1|REG2|SIT1|LUP1|HOT1|PRD1]/tributum.mixin.properties</h2>
    <table class="ui green striped table">
  <thead>
    <tr>
      <th class="collapsing">Key</th>
      <th class="collapsing">Input</th>
      <th class="collapsing">Output</th>
      <th class="collapsing">mixin level 1</th>
      <th>mixin level 2</th>
    </tr>
  </thead>
  <tbody>
{{#each model as |property|}}
    <tr>
      <td class="collapsing">{{property.key}}</td>
      <td class="collapsing">{{property.value}}</td>
      <td class="collapsing">{{property.value}}</td>
      <!--td class="collapsing"><div class="ui blue label">
  shared
</div>&nbsp;from mixin level 1</td-->
<td>
<table class="ui table">
  <thead>
    <td class="collapsing"><div class="ui blue label">shared</div></td>
  </thead>
  <tbody>
    <td class="collapsing">from mixin level 1</td>
  </tbody>
</table></td>
<td>
<table class="ui table">
  <thead>
    <td class="collapsing"><div class="ui red label">PRD1</div></td>
    <td class="collapsing"><div class="ui purple label">HOT1</div></td>
    <td class="collapsing"><div class="ui orange label">SIT1</div></td>
    <td class="collapsing"><div class="ui brown label">LUP1</div></td>
    <td class="collapsing"><div class="ui yellow label">REG1</div></td>
    <td class="collapsing"><div class="ui yellow label">REG2</div></td>
    <td class="collapsing"><div class="ui green label">CIT1</div></td>
    <td class="collapsing"><div class="ui grey label">DEV1</div></td>
  </thead>
  <tbody>
    <td class="collapsing">from mixin level 2</td>
    <td class="collapsing">from mixin level 2</td>
    <td class="collapsing">from mixin level 2</td>
    <td class="collapsing">from mixin level 2</td>
    <td class="collapsing">from mixin level 2</td>
    <td class="collapsing">from mixin level 2</td>
    <td class="collapsing">from mixin level 2</td>
    <td class="collapsing">from mixin level 2</td>
  </tbody>
</table></td>
      <!--<td><p><div class="ui red label">
  PRD1
</div>&nbsp;from mixin level 2</p><p><div class="ui orange label">
  SIT1
</div>&nbsp;from mixin level 2</p><div class="ui yellow label">
  REG1
</div>&nbsp;from mixin level 2</td>-->
    </tr>
{{/each}}
  </tbody>
</table>

{{outlet}}

