
<table class="ui celled table">
  <thead>
    <tr><th>Name</th>
    <th>Description</th>
  </tr></thead>
  <tbody>
    {{#each model as |release|}}
    <tr>
      <td>
        {{#link-to "release" release}}
        <div class="ui ribbon label">{{release.name}}</div>
        {{/link-to}}
      </td>
      <td>{{release.description}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>

{{outlet}}
